.terms-font {
    font-size: 11px;
}
.login-image {
}
@media only screen and (max-width: 480px) {
    .login-image {
        display: none;
    }
}

/* Adjust size for medium devices */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .login-image {
        width: 50%;
    }
}
